In [160]:
import pandas as pd
import numpy as np

In [161]:
mca = pd.read_csv('marketing_customer_analysis.csv')
display(mca.head())
mca.shape

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

(10910, 26)

In [162]:
mca = mca.drop(['Unnamed: 0'], axis = 1)

In [163]:
display(mca.head())

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [164]:
mca = mca.drop_duplicates()
mca.shape

(10873, 25)

In [165]:
cols1 = []
for column in mca.columns:
    cols1.append(column.lower())
mca.columns = cols1
display(mca.head())

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [166]:
mca._get_numeric_data()

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [167]:
mca.select_dtypes(include= 'object').columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective to date', 'employmentstatus', 'gender', 'location code',
       'marital status', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [168]:
mca.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [169]:
mca[mca['state'].isna()==True].head(60)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,50549,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,31739,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,1/2/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
126,TE60343,NaN,4716.264294,NaN,Basic,High School or Below,2/25/11,Employed,M,25746,...,1.0,3,Corporate Auto,Corporate L3,Offer2,Agent,292.800000,Four-Door Car,Medsize,A
131,QK24293,NaN,6265.343299,NaN,Extended,Doctor,1/13/11,Unemployed,F,0,...,1.0,4,Corporate Auto,Corporate L1,Offer1,Agent,481.025786,Four-Door Car,Medsize,NaN
155,JG35886,NaN,4111.888285,NaN,Premium,College,1/21/11,Employed,F,65085,...,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,480.073548,Four-Door Car,Medsize,A
168,FV22585,NaN,6960.920371,NaN,Extended,College,2/4/11,Employed,M,74487,...,0.0,3,Personal Auto,Personal L1,Offer1,Call Center,16.711329,Four-Door Car,Medsize,NaN
169,AU23837,NaN,5010.379310,NaN,Basic,Bachelor,1/19/11,Employed,F,64014,...,NaN,7,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,Four-Door Car,Large,A
190,VZ18907,NaN,21991.615980,NaN,Basic,College,1/12/11,Employed,F,80807,...,0.0,2,Personal Auto,Personal L3,Offer2,Branch,132.139111,SUV,Large,NaN
226,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
251,EA52579,NaN,7687.296987,NaN,Basic,Bachelor,2/26/11,Unemployed,F,0,...,0.0,3,Personal Auto,Personal L1,Offer3,Call Center,523.200000,SUV,Medsize,NaN
270,KX23516,NaN,4455.843406,NaN,Extended,High School or Below,2/20/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,699.615192,SUV,Medsize,NaN
304,PP39078,NaN,5623.611187,NaN,Basic,College,2/19/11,Employed,F,31504,...,0.0,3,Special Auto,Special L1,Offer4,Branch,340.800000,Four-Door Car,Small,A
305,WZ83320,NaN,9061.057741,NaN,Premium,Master,2/18/11,Employed,F,73876,...,0.0,8,Personal Auto,Personal L1,Offer3,Web,419.303041,Four-Door Car,Medsize,A
321,WQ85760,NaN,4260.335730,NaN,Basic,College,2/5/11,Medical Leave,M,26991,...,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,856.800000,SUV,Medsize,NaN
323,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
329,OE15600,NaN,2544.969754,NaN,Basic,College,2/6/11,Employed,M,91169,...,NaN,1,Personal Auto,Personal L3,Offer2,Call Center,139.745936,Two-Door Car,Medsize,A
334,AV76907,NaN,4282.947971,NaN,Basic,College,2/26/11,Employed,F,40864,...,1.0,1,Personal Auto,Personal L3,Offer1,Agent,166.937747,SUV,Medsize,A
347,WT71621,NaN,3280.457296,NaN,Extended,Bachelor,2/2/11,Employed,F,63297,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,251.756739,Four-Door Car,Medsize,A
385,OQ61223,NaN,17497.522010,NaN,Basic,College,2/28/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,350.400000,Two-Door Car,Medsize,NaN
403,ET47892,NaN,12280.766610,NaN,Premium,College,1/1/11,Employed,M,88340,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,Two-Door Car,Medsize,A
404,XD19546,NaN,8160.689782,NaN,Basic,High School or Below,1/21/11,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer1,Web,523.200000,SUV,Medsize,NaN
430,AB96670,NaN,2393.915369,NaN,Basic,College,1/31/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,425.266308,Four-Door Car,Medsize,NaN
455,PO56357,NaN,5363.528173,NaN,Basic,High School or Below,1/1/11,Employed,F,64604,...,1.0,8,Personal Auto,Personal L3,Offer1,Web,272.445607,Four-Door Car,Medsize,A
475,MB20764,NaN,17622.133200,NaN,Premium,High School or Below,2/18/11,Unemployed,M,0,...,0.0,3,Corporate Auto,Corporate L2,Offer4,Branch,1814.400000,Luxury SUV,Medsize,A
478,DO98345,NaN,13156.748950,NaN,Extended,High School or Below,2/28/11,Employed,M,72517,...,0.0,2,Personal Auto,Personal L3,Offer2,Web,371.458196,Two-Door Car,Medsize,NaN
491,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2/5/11,Employed,M,39020,...,0.0,5,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A
574,WR85740,NaN,8149.769437,NaN,Basic,Doctor,1/26/11,Unemployed,F,0,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Call Center,340.800000,Two-Door Car,Medsize,A
595,TN17395,NaN,22103.507200,NaN,Basic,College,1/30/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,489.600000,SUV,Medsize,A
597,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
605,OD18225,NaN,6631.665538,NaN,Extended,College,1/18/11,Employed,M,32918,...,0.0,3,Personal Auto,Personal L2,Offer3,Agent,403.200000,Four-Door Car,Medsize,A
648,RS29507,NaN,10395.709390,NaN,Extended,Bachelor,2/10/11,Unemployed,F,0,...,0.0,2,Personal Auto,Personal L3,Offer2,Agent,337.797690,Four-Door Car,Medsize,NaN
662,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,...,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
670,RL51023,NaN,4185.757242,NaN,Basic,College,2/16/11,Unemployed,M,0,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Call Center,492.644465,Four-Door Car,Small,NaN
686,NQ71171,NaN,5107.071054,NaN,Basic,Bachelor,2/2/11,Employed,M,70174,...,0.0,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
690,OO11998,NaN,4583.748377,NaN,Basic,Master,1/19/11,Employed,M,94804,...,4.0,1,Personal Auto,Personal L2,Offer1,Branch,764.592151,SUV,Medsize,NaN
720,ON74557,NaN,14651.615300,NaN,Extended,Bachelor,1/6/11,Employed,M,74915,...,0.0,2,Personal Auto,Personal L2,Offer3,Branch,393.151377,SUV,Medsize,NaN
725,JC33752,NaN,6277.844624,NaN,Extended,College,1/21/11,Employed,F,21024,...,1.0,9,Personal Auto,Personal L3,Offer2,Agent,450.129276,Two-Door Car,Large,NaN
726,SY86059,NaN,3731.504584,NaN,Extended,High School or Below,2/24/11,Unemployed,F,0,...,NaN,1,Corporate Auto,Corporate L3,Offer1,Agent,460.800000,Four-Door Car,Large,A
729,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
732,QR45101,NaN,6624.611830,NaN,Basic,Bachelor,2/26/11,Unemployed,M,0,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Branch,297.600000,Two-Door Car,Medsize,NaN
740,RB63074,NaN,4858.067125,NaN,Basic,High School or Below,1/3/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer2,Branch,482.400000,Four-Door Car,Medsize,NaN
744,KH24214,NaN,17857.972330,NaN,Basic,College,2/13/11,Employed,M,55437,...,1.0,2,Personal Auto,Personal L3,Offer3,Agent,445.287788,NaN,NaN,NaN
745,PB39857,NaN,5129.608404,NaN,Extended,Master,2/23/11,Employed,M,72433,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,343.139611,SUV,Large,NaN
764,ZY57929,NaN,8169.746083,NaN,Basic,College,1/26/11,Employed,F,32799,...,0.0,3,Personal Auto,Personal L2,Offer1,Agent,499.200000,SUV,Medsize,A
781,GI55977,NaN,2337.351820,NaN,Basic,High School or Below,2/23/11,Medical Leave,F,28806,...,0.0,1,Personal Auto,Personal L1,Offer2,Call Center,292.800000,Four-Door Car,Small,NaN
785,KN13494,NaN,5181.620895,NaN,Basic,Master,2/3/11,Employed,F,97131,...,NaN,6,Personal Auto,Personal L1,Offer2,Agent,307.200000,Four-Door Car,Small,A
794,RZ97514,NaN,7498.824515,NaN,Basic,Master,1/27/11,Unemployed,F,0,...,0.0,2,Personal Auto,Personal L1,Offer3,Agent,316.800000,Four-Door Car,Medsize,NaN
796,KE61355,NaN,5272.703428,NaN,Basic,High School or Below,2/16/11,Employed,F,60260,...,0.0,3,Corporate Auto,Corporate L1,Offer2,Web,328.366827,Four-Door Car,Medsize,A
814,UU70820,NaN,5867.126420,NaN,Basic,College,2/22/11,Employed,F,27880,...,0.0,5,Personal Auto,Personal L3,Offer2,Call Center,199.444294,Four-Door Car,Large,NaN
857,HD44279,NaN,5090.448750,NaN,Basic,Bachelor,2/8/11,Disabled,F,25226,...,1.0,4,Personal Auto,Personal L2,Offer1,Branch,340.800000,Four-Door Car,Medsize,A
859,PD30266,NaN,5015.643575,NaN,Extended,College,2/10/11,Employed,F,73809,...,0.0,1,Special Auto,Special L1,Offer1,Branch,537.315879,SUV,Medsize,NaN
878,QN62502,NaN,3839.143697,NaN,Extended,Bachelor,2/7/11,Employed,F,70146,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,157.440069,Four-Door Car,Medsize,A
890,EN38348,NaN,23207.269720,NaN,Extended,High School or Below,1/16/11,Employed,F,45039,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,192.144838,Four-Door Car,Large,A
895,ON44465,NaN,5313.294035,NaN,Extended,High School or Below,1/24/11,Unemployed,F,0,...,1.0,9,Personal Auto,Personal L2,Offer1,Agent,863.394700,Four-Door Car,Medsize,NaN
900,XP92021,NaN,13295.602840,NaN,Basic,High School or Below,2/27/11,Employed,F,68009,...,0.0,2,Personal Auto,Personal L1,Offer1,Call Center,528.000000,SUV,Medsize,A
906,DP63956,NaN,6791.215414,NaN,Basic,Bachelor,1/10/11,Unemployed,F,0,...,1.0,8,Corporate Auto,Corporate L2,Offer1,Agent,727.200000,SUV,Large,A
908,GG84614,NaN,3031.587812,NaN,Extended,High School or Below,1/8/11,Employed,F,27435,...,0.0,1,Personal Auto,Personal L3,Offer3,Branch,455.545318,Two-Door Car,Medsize,A
909,MD15300,NaN,10110.769970,NaN,Extended,College,2/5/11,Employed,M,76276,...,0.0,2,Corporate Auto,Corporate L3,Offer4,Web,93.309811,Two-Door Car,Large,A

In [170]:
noresponse= 'No'
mca['response'] = mca['response'].fillna(noresponse)
mca.isna().sum()
noclaims= 0
mca['months since last claim'] = mca['months since last claim'].fillna(noclaims)
mca.isna().sum()
nocomplaints= 0
mca['number of open complaints'] = mca['number of open complaints'].fillna(nocomplaints)
mca.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim             0
months since policy inception       0
number of open complaints           0
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [171]:
mca['vehicle size'].unique()
mca['vehicle size'].value_counts()

Medsize    7233
Small      1962
Large      1070
Name: vehicle size, dtype: int64

In [172]:
mca = mca.drop(['vehicle type'], axis = 1)
mca

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,NaN,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [173]:
vhclass= 'Four-Door Car'
mca['vehicle class'] = mca['vehicle class'].fillna(vhclass)
vhsize= 'Medsize'
mca['vehicle size'] = mca['vehicle size'].fillna(vhsize)

mca.isna().sum()

customer                           0
state                            614
customer lifetime value            0
response                           0
coverage                           0
education                          0
effective to date                  0
employmentstatus                   0
gender                             0
income                             0
location code                      0
marital status                     0
monthly premium auto               0
months since last claim            0
months since policy inception      0
number of open complaints          0
number of policies                 0
policy type                        0
policy                             0
renew offer type                   0
sales channel                      0
total claim amount                 0
vehicle class                      0
vehicle size                       0
dtype: int64

In [174]:
mca['state'].unique()
mca['state'].value_counts()

California    3548
Oregon        2897
Arizona       1934
Nevada         992
Washington     888
Name: state, dtype: int64

In [175]:
unstate= 'Unknown'
mca['state'] = mca['state'].fillna(unstate)
mca.isna().sum()

customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
dtype: int64

In [176]:
from datetime import date, timedelta

mca['effective to date'] = pd.to_datetime(mca['effective to date'], errors='coerce')
mca

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,Unknown,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [179]:
mca['month'] = mca

KeyError: "None of [DatetimeIndex(['2011-02-18', '2011-01-18', '2011-02-10', '2011-01-11',\n               '2011-01-17', '2011-02-14', '2011-02-14', '2011-02-24',\n               '2011-01-19', '2011-01-04',\n               ...\n               '2011-02-13', '2011-01-13', '2011-01-24', '2011-01-07',\n               '2011-02-24', '2011-01-19', '2011-01-06', '2011-02-06',\n               '2011-02-13', '2011-01-08'],\n              dtype='datetime64[ns]', length=10873, freq=None)] are in the [index]"